.padding {
  padding: var(--default-padding);
}

.title {
  display: ruby;
  width: fit-content;
  font-weight: bold;
}

.bubbleline {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: calc(var(--default-gap) / 2);
}
