DATABASE_ENGINE="postgresql+psycopg2"
DATABASE_USER=postgres
DATABASE_PASSWD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_URL="${DATABASE_ENGINE}://${DATABASE_USER}:${DATABASE_PASSWD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"