.spcbtwn {
  display: flex;
  justify-content: space-between;
}

.left {
  padding-left: var(--default-padding);
}

.right {
  padding-right: var(--default-padding);
}

.content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-gap) / 2);
  padding-left: calc(var(--default-padding) * 3);
}

.content li {
  list-style: square;
}

.bold {
  font-weight: bold;
}

.tools {
  gap: calc(var(--default-gap) / 2);
  overflow: scroll;
}

.wrapper {
  background-color: var(--primary2-block-color);
  padding: var(--default-padding);
  border-radius: var(--primary-border-radius);
}
