.app {
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  background: var(--primary-background-color);
  justify-content: center;
}

.text {
  margin-top: 50px;
  color: white;
  width: 80%;
  display: flex;
  justify-content: center;
}
