.wrapper {
  background-color: var(--primary-block-color);
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  color: var(--primary-font-color);
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: white 1px solid;
}

.label {
  font-family: 'Lobster';
  font-size: var(--header-font-size);
}

.content {
  margin-top: 10px;
  font-size: var(--default-font-size);
}
