.page {
  color: var(--primary-font-color);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: calc(var(--navbar-height) + var(--default-margin));
  gap: 10px;
}

.content {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
}

$color: var(--primary-font-color);
$background-color: var(--primary-background-color);

@keyframes blink {
  0% {
    color: $color;
  }
  50% {
    color: $background-color;
  }
  100% {
    color: $color;
  }
}

.width1 {
  width: 25%;
}

.width2 {
  width: 50%;
}

.width3 {
  width: 75%;
}

.width4 {
  width: 100%;
}
