@use 'reset';
@use 'variables';
@use 'common';
@use 'fonts';

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin-top: calc(var(--navbar-height) + 2 * var(--default-margin));
  background-color: var(--primary-background-color);
}
