:root {
  // Background
  --primary-background-color: #000000;

  --primary-block-color: #2a2a2a;
  --navbar-background-color: var(--primary-block-color);
  --primary-code-block-color: #3f0303;

  // Widths & Heights
  --navbar-height: 40px;

  // Text
  --primary-font-color: #ffffff;
  --second-font-color: #000000;
  --header-font-size: 24px;
  --default-font-size: 16px;

  // Margins & Paddings
  --default-padding: 5px;
  --default-margin: 10px;
  --default-gap: 10px;

  // Border
  --navbar-border-radius: 25px;
  --primary-border-radius: 15px;
}
