:root {
  --header-font-size: 24px;
  --default-font-size: 16px;
  --primary-background-color: #101010;
  --primary-content-color: #303030;
  --default-padding: 5px;
  --primary-font-color: #ffffff;
  --second-font-color: #000000;
  --primary-block-color: #2e2e2e;
  --primary-border-radius: 10px;
  --default-gap: 10px;
  --navbar-height: calc(var(--header-font-size) * 1.5);
}
