@font-face {
  font-family: 'Bitcount';
  src: url('./fonts/Bitcount/BitcountSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf');
}

@font-face {
  font-family: 'Caveat';
  src: url('./fonts/Caveat/Caveat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Exo_2';
  src: url('./fonts/Exo_2/Exo2-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Lobster';
  src: url('./fonts/Lobster/Lobster-Regular.ttf');
}
